<div class="row">
  <div class="col-md-12">
    <img class="image1" src="../../assets/img/TypeOfPolicy.png">
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <button routerLink='/PolicyRegister' class="btn btn-lg btnDesign">
      Register Policies
    </button>
  </div>
  <div class="col-md-4">
    <button routerLink='/EditPolicy' class="btn btn-lg btnDesign v">
      Edit Policies
    </button>
  </div>
  <div class="col-md-2"></div>
</div>