<div class="row">
    <div class="col-md-7" style="padding-left: 42%;">
        <h3>User Registration</h3>
    </div>
    <div class="col-md-5">
        <h6 style="margin-left:300px;">
            <b>Already a User? Then&ensp;</b>
            <button class="btn btnDesign curve" style="margin-left: 5px; " routerLink='/Signin'>SignIn</button>
        </h6>
    </div>
</div>




    <div class="row">

        <div class="col-sm-2"></div>

        <div class="col-sm-8" id="borderRadius">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form (click)="Validation()">

                        <div class="form-group">
                            <label for='first1'>First Name :</label>
                            <input type='text' id='first1' class="form-control curve" [(ngModel)]="first" name="first" placeholder="First Name" required="true">
                        </div>

                        <div class="form-group">
                            <label for='last1'>Last Name :</label>
                            <input type='text' id='last1' class="form-control curve" [(ngModel)]="last" name="last" placeholder="Last Name" required="true">
                        </div>


                        <div class="form-group">
                            <label for='dob1'>DOB :</label>
                            <input type='text' id='dob1' class="form-control curve" [(ngModel)]="dob" name="dob" placeholder="dd/mm/yyyy" required="true">
                        </div>


                        <div class="form-group">
                            <label for='Address1'>Address :</label>
                            <input type='text' id='Address1' class="form-control curve" [(ngModel)]="Address" name="Address" placeholder="Address" required="true">
                        </div>


                        <div class="form-group">
                            <label for='num1'>Contact No :</label>
                            <input type='text' id='num1' class="form-control curve" [(ngModel)]="num" name="num" placeholder="Contact No" required="true">
                        </div>


                        <div class="form-group">
                            <label for='email1'>Email Id :</label>
                            <input type='text' id='email1' class="form-control curve" [(ngModel)]="email" name="email" placeholder="Email Id" required="true">
                        </div>


                        <div class="form-group">
                            <label for='qualify1'>Qualification :</label>
                            <input type='text' id='qualify1' class="form-control curve" [(ngModel)]="qualify" name="qualify" placeholder="Qualification"
                                required="true">
                        </div>


                        <div class="radio form-group">

                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios" [(ngModel)]="Male" value="Male" checked>Male
                            </label>
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios" [(ngModel)]="Female" value="Female" checked>Female
                            </label>
                        </div>


                        <div class="form-group">
                            <label for='Salary1'>Salary :</label>
                            <input type='text' id='Salary1' class="form-control curve" [(ngModel)]="Salary" name="Salary" placeholder="Salary" required="true">
                        </div>


                        <div class="form-group">
                            <label for='PAN1'>PAN Number :</label>
                            <input type='text' id='PAN1' class="form-control curve" [(ngModel)]="PAN" name="PAN" placeholder="PAN Number" required="true">
                        </div>



                        <div class="form-group">
                            <label for='TOE1'>Type Of The Employer :</label>
                            <input type='text' id='TOE1' class="form-control curve" [(ngModel)]="TOE" name="TOE" required="true">
                        </div>




                        <div class="form-group">
                            <label for='Question1'>Hint Question : </label>
                            <select id='Question1' [(ngModel)]="Question" name="Question">
                                <option>Who is your favorite Hero ?</option>
                                <option>Who is your favorite Heroine?</option>
                                <option>What is your father's Name ?</option>
                                <option>Which movie do you like?</option>
                                <option>Whats your pet Name?</option>

                            </select>
                        </div>



                        <div class="form-group">
                            <label for='Ans1'>Hint Answer :</label>
                            <textarea class="form-control curve" id='Ans1' [(ngModel)]="Ans" name="Ans"></textarea>
                        </div>



                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="btn btnDesign btn-lg curve" style="padding: 13px 30px;" type="click">Register</button>
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <button class="btn btnDesign btn-lg curve" type="reset" style="padding: 13px 45px;">Reset</button>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="col-md-2"></div>

            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

