<div class="row">
  <div class="col-md-12">
    <h2 style="text-align: center">User and Admin Sign In</h2>
  </div>
</div>
<br>
<!-- <div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4 box">
    <form (click)="validation()">
      <div class="form-group">
        <label for="UserType">UserID :</label>
        <input id="UserType" class="form-control" type="text" [(ngModel)]='UserType' name='UserType' placeholder="UserID">
      </div>
      <div class="form-group">
        <label for="Password">Password :</label>
        <input id="Password" class="form-control" type="password" [(ngModel)]='Password' name='Password' placeholder="Password">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4 but">
            <button class="btn btn-primary btn-lg" type="click">SignIn</button>
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <button class="btn btn-primary btn-lg but2" type="reset" style="border-left: 20px;">Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">


  </div>
</div> -->
<div class="row" id="pwd-container">
  <div class="col-md-4"></div>
  
  <div class="col-md-4">
    <section class="login-form">
      <form method="post" action="#" role="login" (click)="validation()">
        <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" />
        <input type="email"  [(ngModel)]="UserType" name="email" placeholder="Email" required class="form-control input-lg" />
        
        <input type="password" [(ngModel)]="Password" name="Password" class="form-control input-lg" id="password" placeholder="Password" required="true" />
        
        
        <div class="pwstrength_viewport_progress"></div>
        
        
        <button name="go" class="btn btn-lg btnDesign btn-block" type="click">Sign in</button>
        <div>
          <a href="#">Create account</a> or <a href="#">reset password</a>
        </div>
        
      </form>
      
      <div class="form-links">
        <a  class="colour" href="#">www.PMSWebsite.com</a>
      </div>
    </section>  
    </div>
    
    <div class="col-md-4"></div>
    

</div>