 <div class="row">
   <h2 style="text-align: center">Our Top Solutions</h2>
 </div>
  <div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading colors">
        <h4 class="texts">Vehicle Insurance                  <i class="material-icons mt-6" style="font-weight: 30px;font-size:20px;color:red;">   motorcycle</i></h4>
      </div>
      <div class="panel-body">
        <p class="text">Complete Bike Protection With Unlimited Liability For 3rd Party Death Or Damage. Personal Accident Cover. Cashless Network Garages. No Documentation. 100% Online & Secure. No Inspection. Upto 50% NCB Transfer. Insurance coverage: Third Party Liability, Man made Calamities.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading colors">
              <h4 class="texts">Travel Insurance               <i class="fa fa-car" style=" font-size:15px;color:red"></i></h4>
          </div>
          <div class="panel-body">
            <p class="text">Provides Coverage Against Possible Emergencies On Your Trip. Delayed Trip Cover. Swift Claim Assistance. Medical Cover Upto $500K. Passport Loss Cover. Worldwide Claims Assist. Global AXA Assistance. Missed Flight Cover. Trip Cancellation Cover. Instant Policy Online. Dental Coverage.</p>
          </div>
        </div>
    </div>

    <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading colors">
          <h4 class="texts">Life Insurance                   <i class="material-icons" style=" font-size:20px;color:red">accessible_forward</i></h4>
        </div>
        <div class="panel-body">
          <p class="text">Life Insurance is one of the fastest growing sectors in India since 2000 as Government allowed Private players and FDI up to 26% and recently Cabinet approved a proposal to increase it to 49%.
          <br><br><br> </p>
        </div>
      </div>
    </div>

    </div>
  

    <div class="row">

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading colors">
              <h4 class="texts">Health Insurance                  <i class="fa fa-heart" style=" font-size:15px;color:red"></i></h4>
              
            </div>
            <div class="panel-body">
              <p class="text">Health Insurance Plans Covering Hospitalization, Surgery & Lots More. Get Quote! 540+ Day Care Procedures. Ambulance Expenses Cover. Affordable Premium. Pre-Post Hospitalization. Speedy Claim Settlements. Buy Health Insurance Now. 7.5% Off on 2-Yr Premium. Cashless Hospitalization.</p>
            </div>
          </div>
        </div>
      
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading colors">
                    <h4 class="texts">Child Insurance                 <i class="material-icons" style=" font-size:20px;color:red">accessibility_new</i></h4>
                </div>
                <div class="panel-body">
                  <p class="text">Child life insurance is a form of permanent life insurance that insures the life of a minor. It is usually purchased to protect a family against the sudden and unexpected costs of a child’s funeral or burial[1] and to secure inexpensive and guaranteed insurance for the lifetime of the child.</p>
                </div>
              </div>
          </div>
      
          <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading colors">
                <h4 class="texts">Retirement Insurance                 <i class="material-icons" style=" font-size:20px;color:red">accessible_forward</i></h4>
              </div>
              <div class="panel-body">
                <p class="text">Retirement Policy. Employees age 55 and older with 10 years of full time service may retire from the University and be eligible for certain retiree benefits. ... Employees are responsible for providing their department supervisor with timely notification of their retirement date.<br>
                </p>
              </div>
            </div>
          </div>
      
          </div>

          <hr style="border :1px solid #85929E" />

          <div class="row">
            <div class="col-md-3">

            </div>




            <div class="col-md-6">
              <h3>AN ISO 9001:2008 CERTIFIED INSURANCE COMPANY</h3>
              <p>For more details on risk factors, terms and conditions please read sales brochure carefully before concluding a sale.Insurance is a subject matter of solicitation. Reg. No. 131
                  Corporate Identity Number - U66030TG2006PLC051760 
                  Best viewed with IE 9+, Firefox 18.0+, Chrome 3.0+, Safari 4.0+
              </p>
              <div class="row">
              <div class="col-md-3">

              </div>
                <div class="col-md-6">
                <h4 style="text-align: center">Follow Us On :  <pre class="back"><i class="material-icons">email</i>  <i class="fa fa-facebook-f" style="font-size:24px"></i>  <i class="fa fa-twitter" style="font-size:24px"></i></pre></h4>
                </div>
                
              
              <div class="col-md-3">

              </div>
              </div>
              </div>




            </div>
            
          
        